.container {
    background: rgb(55, 55, 55);
    background: radial-gradient(circle, rgba(55, 55, 55, 1) 0%, rgba(14, 14, 14, 1) 100%);
    padding-bottom: 20px;
    padding-right: 5%;
    padding-left: 5%;
}
