.container {
    background: rgb(254, 254, 254);
    background: radial-gradient(circle, rgba(254, 254, 254, 1) 0%, rgba(237, 237, 237, 1) 100%);
    border-bottom: 2px solid lightgrey;
    padding-bottom: 20px;
    padding-right: 5%;
    padding-left: 5%;
}
